<div class="preview-container">
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12">
      <h1>Form 99</h1>
      <hr/>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--4">
      <p>
        <b>Name of Committee in Full</b>
      </p>
      <p>
        American Hotel and Lodging Association
      </p>
    </div>
    <div class="grid-row__col grid-row__col--4">
      <p><b>Address</b></p>
      <p>1250 I Street, NW #1100</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--3">
    <p>
      <b>City</b>
    </p>
    <p>
      Washington
    </p>
    </div>
    <div class="grid-row__col grid-row__col--3">
      <p>
        <b>State</b>
      </p>
      <p>
        Washington
      </p>
    </div>
    <div class="grid-row__col grid-row__col--3">
      <p>
        <b>Zip Code</b>
      </p>
      <p>
        20005
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--3">
      <p>
        <b>Treasurer Name*</b>
      </p>
      <p>
        Milan Kundera
      </p>
    </div>
    <div class="grid-row__col grid-row__col--3">
      <p>
        <b>Signee Name*</b>
      </p>
      <p>
        Charlie Brown Jr
      </p>
    </div>
    <div class="grid-row__col grid-row__col--3">
      <p>
        <b>Date*</b>
      </p>
      <p>08/20/2018</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12">
      <hr />
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12" [innerHtml]="reasonText"></div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12 text-center">
      <div class="forms__btn-container">
        <button
          type="button"
          class="btn btn-default btn-left"
          (click)="goToPreviousStep()"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-primary btn-right"
          (click)="fileForm()"
        >
          File
        </button>
      </div>
    </div>
  </div>
</div>
