// FEC Colors
$blueZodiac: #112E51; // primary blue
$horizon: #5F82A4; // secondary blue
$alto: #D8D8D8; // gray
$mercury: #E6E6E6;
$dustyGray: #9B9B9B; // dark gray
$pelorous: #35BDBB; // light green

$primaryBlue: $blueZodiac;
$secondaryBlue: $horizon;

$white: #fff;
$black: #000;
$red: #f00;

$silverChalice: #AAAAAA;
