<form
  [formGroup]="frmReason"
  (ngSubmit)="doValidateReason()"
>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12">
      <h1 class="text-left">
          Form 99
      </h1>
      <hr />
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12"
          *ngIf="frmReason.invalid && (frmReason.dirty || frmReason.touched)">
          <div class="error text-center" *ngIf="frmReason.controls.reasonText.errors?.maxlength">
            You can only enter up to 20,000 characters.
          </div>
          <div class="error text-center" *ngIf="frmReason.controls.reasonText.errors?.required">
            You must enter a reason.
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <b>Enter your text*</b>
        </div>
      </div>
      <div class="rich-text-editor">
        <angular-editor
          ngDefaultControl
          formControlName="reasonText"
          #editor
          [config]="editorConfig"
          (input)="onContentChanged($event, editor)"
        ></angular-editor>
      </div>
      <div class="editor-character-count">
        {{ characterCount }}
        characters
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-row__col grid-row__col--12 text-center">
      <div class="forms__btn-container">
        <div class="btn-container-row">
          <div>
            <hr/>
            <button
              type="button"
              class="btn btn-secondary btn-right"
              (click)="saveForm()"
            >
              Save
            </button>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-default btn-left"
          (click)="previousStep()"
        >
          Back
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-right"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</form>
